.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info{
    padding-left: 20px;
}

.checkoutProduct_info > button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFD814;
    border: 1px solid #FCD200;
    font-size: 11px;
    height: 22px;
    padding: 0 6px;
    text-align: center;
    font-weight: 500;
    color: #0F1111;
    margin-top: 10px;
}

.button:hover {
    background: #F7CA00;
    border-color: #F2C200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%); 
}

.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating{
    display: flex;
}

.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}